footer 
  .grid-container.full
    height: auto
    background-color: #161b2a
    padding: 100px 0 85px 0

    @media (max-width: 640px)
      padding: 100px 35px 85px 35px
      padding-left: 20px
      padding-right: 20px

    .footer__logo
      margin-bottom: 60px

      @media (max-width: 1920px)
        margin-bottom: 20px

      @media (max-width: 1600px)
        margin-bottom: 20px

      @media (max-width: 1366px)
        margin-bottom: 20px

      @media (max-width: 1023px)
        margin-bottom: 20px

    .footer__info
      margin-bottom: 60px

      @media (max-width: 1920px)
        margin-bottom: 20px

      @media (max-width: 1600px)
        margin-bottom: 20px

      @media (max-width: 1366px)
        margin-bottom: 20px

      @media (max-width: 1023px)
        margin-bottom: 20px

      a 
        display: inline-block
        padding: 0 15px
        color: #fff
        font-size: 16px
        line-height: 26px
        font-weight: 500
        margin-bottom: 5px
        letter-spacing: 1px

      span 
        display: block
        color: #fff
        font-size: 16px
        line-height: 26px
        font-weight: 500

        @media (max-width: 823px)
          font-size: 12px

    .footer__credits

      a 
        color: #ffffff
        text-decoration: underline

      span 
        display: block
        margin-bottom: 10px
        color: #fff
        font-size: 14px
        line-height: 26px
        font-weight: 500

        @media (max-width: 823px)
          font-size: 12px