header
  display: flex
  align-items: center
  justify-content: space-between
  position: fixed
  width: 100%
  height: 80px
  padding: 0
  z-index: 9999

  .left 
    width: 75%
    height: 100%
    position: relative
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 70px

    @media (max-width: 1920px)
      padding: 0 40px 0 20px

    @media (max-width: 1366px)
      padding: 0 40px 0 20px

    @media (max-width: 1023px)
      padding: 0 40px 0 20px

    @media (max-width: 767px)
      width: 100%
      padding: 0

    @media (max-width: 640px)
      width: 100%
      padding: 0

  .right
    width: 25%

    @media (max-width: 767px)
      display: none
      
  #header-bg
    width: 100%
    height: 0
    position: absolute
    top: 0
    left: 0
    background-color: #fff
    z-index: 0
    transition: all .7s cubic-bezier(.7, .0, .3, 1)

  &:before
    content: ''
    position: absolute
    top: 0
    height: 100px
    overflow: hidden

  #logo
    width: 212px
    height: 41px
    margin-left: 20px
    z-index: 1
    z-index: 9999

    @media (max-width: 767px)
      width: 75%

    @media (max-width: 640px)
      width: 75%

    a
      display: block
      width: 100%
      height: 100%

      &:hover

        img 
          &:first-of-type
            display: none

        .hidden
          height: auto
          opacity: 1

  #access
    display: flex
    justify-content: flex-end
    text-align: right
    z-index: 1

    @media (max-width: 767px)
      position: static

    a 
      margin-right: 30px
      color: #fff
      font-weight: 500
      letter-spacing: 1px

      @media (max-width: 1023px)
        display: none

      @media (max-width: 767px)
        display: none

      @media (max-width: 640px) 
        display: none

    nav 
      list-style: none

      a 
        color: #fff
        padding: 0 20px
        font-family: minerva-modern,sans-serif
        font-size: 36px
        font-style: normal
        font-weight: 500
        line-height: 58px
        transition: all .7s cubic-bezier(.7, .0, .3, 1)
        margin-right: 40px

        @include breakpoint(medium down)
          line-height: 1

    .nav--header
      .menu-item 
        a 
          padding-left: 0

  #cta-header
    width: 100%
    height: 80px
    right: 0
    top: 0

    @media (max-width: 640px)
      display: none

    .cta-button
      transition: all .3s cubic-bezier(.7, .0, .3, 1)

      &:focus
        outline: 0
        transition: .2s all ease-in-out

      &:hover 
        // background-color: #161b2a
        // color:#d1b97b

    a
      width: 100%
      height: 100%
      display: block
      color: #fff
      background-color: #bd9c59
      text-align: center
      font-family: minerva-modern, sans-serif
      font-size: 24px
      line-height: 80px
      outline: 0
      cursor: pointer
      z-index: 9999

      @include breakpoint(medium down)
        font-size: 20px
        opacity: 1

    span 
      font-size: 40px
      color: #fff
      line-height: 80px 

.scrolled 
  header

    @media (max-width: 640px)
      width: 100%
      flex-direction: column
      justify-content: center
      padding: 0

    #header-bg
      height: 100%

      @media (max-width: 767px)
        width: 100%

    #logo
      margin-left: 20px

      img 
        &:first-of-type
          display: none

      .hidden
        height: auto
        opacity: 1

    #access
      a 
        color: #001646
        margin-right: 40px
        
      .header__nav
        a 
          color: #fff

#header-sidebar
  position: fixed
  top: 0
  right: 0
  z-index: 1
  height: 100%
  background-repeat: no-repeat
  cursor: pointer

  @media (max-width: 823px)
    display: none

  .sidebar-fixed
    display: flex
    flex-direction: column
    height: 100%

  img 
    width: 100%
    height: 60vh

  .textbox-sidebar
    height: 45vh
    display: flex
    flex-direction: column
    justify-content: center
    flex: 1
    padding: 0 40px
    background-color: #fff

    h3 
      color: #000
      font-size: 40px
      line-height: 40px 
      margin-bottom: 20px

      @include breakpoint(large down)
        font-size: 32px
        line-height: 40px

      @include breakpoint(medium down)
        font-size: 36px
        line-height: 48px

    p 
      font-size: 22px
      color: #000
      line-height: 30px
      font-weight: 400

      @media (max-width: 1024px)
        font-size: 18px

  #cta-sidebar
    height: 80px

    a
      width: 100%
      height: 100%
      display: block
      color: #fff
      background-color: #bd9c59
      text-align: center
      font-family: minerva-modern, sans-serif
      font-size: 24px
      line-height: 80px
      outline: 0
      cursor: pointer
      z-index: 9999
      transition: .25s all ease-in-out

      &:focus
        outline: 0
        background-color: transparent
        transition: .2s all ease-in-out

      &:hover 
        background-color: #161b2a
        color:#d1b97b

    span 
      font-size: 40px
      color: #fff
      line-height: 80px

.page
  &:not(.home)
    #logo
      a
        display: block
        width: 100%
        height: 100%

        &:hover

          img 
            &:first-of-type
              display: block

          .hidden
            height: 0
            opacity: 0