.residences
    
  .reversed
    order: 2
    justify-content: center
    display: flex
    align-items: center

  header
    #logo 
      a 
        &:hover
          img:first-of-type
            display: block

          img:last-of-type
            display: none

  &.scrolled
    #logo 
      a 
        &:hover
          img:first-of-type
            display: none
          
          img:last-of-type
            display: block

  #section1
    padding-bottom: 0

    @media (max-width: 1920px)
      padding-left: 50px
      padding-right: 50px

    .grid-x
      padding-top: 50px
      padding-bottom: 0

      .copy 
        display: flex
        align-items: center
        position: relative
        color: #fff
        padding-right: 30px
        font-family: 'benton-sans', sans-serif
        font-size: 16px
        font-weight: 300
        line-height: 28px

        p 
          padding-right: 50px

  #section3
    position: relative
    padding-top: 0
    padding-left: 0
    padding-right: 0

  #section4
    padding-bottom: 100px

    h2 
      margin-bottom: 0

  #section5
    padding-top: 0

    @media (max-width: 1023px)
      padding-bottom: 50px

    @media (max-width: 767px)
      padding-bottom: 0

    @media (max-width: 640px)
      padding-bottom: 0

    .details-panel
      border-bottom: 1px solid #d2d2d2

    .floor-plan-description
      display: none
      padding: 100px 0
      
      .floor-plan-img,
      .floor-plan-cta
        display: flex
        align-items: center

      .floor-plan-img
        justify-content: center

      .floor-plan-cta
        justify-content: flex-end

  #section6
    h2 
      font-size: 36px
      line-height: 58px

  #section7
    @media (max-width: 1023px)
      padding-top: 50px

    @media (max-width: 767px)
      padding-top: 0

    @media (max-width: 640px)
      padding-top: 0


