body 
  background-color: #fff

  &::-webkit-scrollbar
    display: none; 

  main 
    overflow: hidden

  .section
    padding-top: 150px
    padding-bottom: 150px

    @media (max-width: 1920px)
      padding-top: 100px
      padding-bottom: 100px

    @media (max-width: 1600px)
      padding-top: 100px
      padding-bottom: 100px

    @media (max-width: 1366px)
      padding-left: 50px
      padding-right: 50px

    @media (max-width: 1023px)
      padding-left: 50px
      padding-right: 50px

    @media (max-width: 767px)
      padding-left: 20px
      padding-right: 20px

    @media (max-width: 640px)
      padding-left: 20px
      padding-right: 20px

  &.page-template-default
    &:not(.home) 
      section 
        &:first-of-type
          padding-top: 180px

  &.home
    .grid-container 
      max-width: 100%

    .section
      @media (max-width: 1920px)
        padding-left: 0
        padding-right: 0

ul, ol 
  margin-left: 0

  @media (max-width: 767px)
    margin-left: 1.5em

  @media (max-width: 640px)
    margin-left: 1.5em

ul 
  li
    list-style: none
    margin: 0
    margin-bottom: 1em
    padding-left: 0
    position: relative

tbody, 
tfoot, 
thead
  border: 0

tbody th,
tbody td 
  width: 20%
  padding: 2px 0 8px 0
  text-align: center

  @media (max-width: 640px)
    font-size: 12px

tbody th:first-of-type,
tbody td:first-of-type
  width: 15%
  text-align: left

tbody th:nth-of-type(2),
tbody td:nth-of-type(2)
  width: 23.33%

tbody th:nth-of-type(3),
tbody td:nth-of-type(3)
  width: 23.33%

tbody th:nth-of-type(4),
tbody td:nth-of-type(4)
  width: 23.33%

tbody th:last-of-type,
tbody td:last-of-type 
  width: 15%
  text-align: right

hr 
  width: 100%
  max-width: 1400px
  border-color: #000

h1,h2,h3,h4,h5,h6,button,input[type="submit"]
  font-family: minerva-modern, sans-serif

p, a, span
  font-family: benton-sans, sans-serif

h1 
  font-size: 78px
  margin-bottom: 60px

  @media (max-width: 767px)
    font-size: 48px

h2 
  font-size: 56px
  line-height: 1
  margin-bottom: 60px
  