.floor_plans 
  &>.grid-container
    &>.grid-x 
      flex-direction: column

    
  
.floor-unit
    border-bottom: 1px solid #D2D2D2

    .cell
      padding-top: 1rem
      padding-bottom: 1rem

    .diagram 
      padding-top: 0
      padding-bottom: 0

      a 
        background: #bd9c59

      img 
        width: 600px
        margin-bottom: 24px
        margin-right: 15%

    .floor-plan-button 
      background: #ffffff
      color: #bd9c59
      font-size: 16px
      padding: 0
      margin: 0
      margin-bottom: 6px

      &:link,
      &:active,
      &:visited 
        color: #bd9c59
        background: #fff

      &:hover 
        color: #bd9c59

    p 
      margin: 0
    
    .diagram
      transition: all 0.2s ease-out
      
      &.collapse
        display: none
      
      a 
        display: inline-block
        width: 320px
        height: 80px
        padding: 0
        font-family: minerva-modern,sans-serif
        font-size: 24px
        line-height: 80px

.tab-menu,
.tab-container,
.page-row
  display: flex
  flex-direction: row
  margin: 0
  padding: 0
  flex-wrap: wrap

#floor-tabs 
  li 
    &.units-0 
      order: 99

.tab-menu
  margin: 1rem 0 3rem 0

  li
    list-style: none
    margin-right: 1rem

    a

      &.mixitup-control-active
        &:after
          content: ''
          height: .3em
          width: .3em
          background: #000
          display: block
          position: absolute
          transform: translateX(-50%) rotate(45deg)
          bottom: -10px
          left: 50%

    a
      text-decoration: none
      //text-transform: uppercase
      display: block
      padding: 5px 5px 1px 5px
      letter-spacing: 2px
      color: #bd9c59

      &:hover 
        color: #bd9c59

  &.active a,
  a.mixitup-control-active
    color: #bd9c59
    color: #000
    //border-bottom: 1px solid #bd9c59

    &:hover 
      color: #000

