.contact-form

  height: 100%
  min-height: 100vh
  position: relative
  z-index: 1

  @media (max-width: 1920px)
    min-height: auto

  @media (max-width: 767px)
    height: auto

  .grid-x
    background-color: #fff
    padding-top: 50px
    padding-bottom: 50px

    .cell:first-child
      display: flex
      flex-direction: column
      align-items: center
      padding-left: 0
      padding-right: 0

    #contact-form
      height: 100%
      max-width: 500px
      display: flex
      flex-direction: column
      justify-content: center

      p 
        line-height: 30px
        margin-bottom: 60px

      @media (max-width: 1366px)
        padding-left: 50px
        padding-right: 50px
        margin-bottom: 50px

      @media (max-width: 640px)
        padding-left: 30px
        padding-right: 30px
        margin-bottom: 50px

      .gfield_label
        font-family: minerva-modern, sans-serif
        font-size: 24px
        font-weight: 500

      .gfield_required 
        display: none

      .gform_wrapper div.validation_error
        color: #fff
        border-top: 2px solid transparent
        border-bottom: 2px solid transparent
        background-color: transparent

      .gform_wrapper li.gfield.gfield_error, 
      .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning
        background-color: transparent
        margin-bottom: 6px!important
        border-top: 1px solid transparent
        border-bottom: 1px solid transparent
        padding-bottom: 6px
        padding-top: 8px
        box-sizing: border-box

      .gform_wrapper .validation_message
        color: #d1b97b
        padding-left: 10px

      .gform_wrapper .gfield_error .gfield_label
        color: #000
        padding-left: 10px

      .gform_wrapper .description, 
      .gform_wrapper .gfield_description, 
      .gform_wrapper .gsection_description, 
      .gform_wrapper .instruction
        font-size: 18px

      input[type="text"]
        width: 100%
        box-shadow: none
        border: 0
        border-bottom: 1px solid #000
        margin-bottom: 50px
        padding-left: 30px
        color: #888
        font-size: 16px

        ::-webkit-input-placeholder
        font-size: 16px
        font-family: benton-sans, sans-serif

        ::-moz-placeholder
        font-size: 16px
        font-family: benton-sans, sans-serif

        :-ms-input-placeholder
        font-size: 16px
        font-family: benton-sans, sans-serif

        :-moz-placeholder
        font-size: 16px
        font-family: benton-sans, sans-serif

      .gform_wrapper .gfield_error input[type="text"]
        margin-bottom: 0

      input[type="submit"]
        width: 100%
        background-color: #bd9c59
        font-size: 24px
        outline: 0

        &:focus
          outline: 0
          transition: .2s all ease-in-out

        &:hover 
          background-color: #161b2a
          color:#d1b97b

  .contact-form__title
    display: flex
    margin-bottom: 60px

    @include breakpoint(medium down)
      margin-bottom: 0

    h2 
      font-size: 52px

      @include breakpoint(medium down)
        margin-bottom: 0
        font-size: 36px

    #social
      display: flex
      justify-content: flex-end
      align-items: center
      flex: 1

    a 
      display: block
      position: relative
      width: 44px
      height: 44px
      padding: 0
      font-size: 24px
      text-align: right

      &:first-child
        background: url(/wp-content/themes/alta-nv/assets/images/facebook.png) center center / cover no-repeat
        margin-right: 20px

        &:before
          content: '\f305'
          position: absolute
          font-family: dashicons
          color: #000
          left: 0
          top: 0
          width: 44px
          height: 44px

      &:last-child
        background: url(/wp-content/themes/alta-nv/assets/images/instagram.png) center center / cover no-repeat
        padding-right: 0

        &:before
          content: '\f12d'
          position: absolute
          font-family: dashicons
          color: #000
          left: 0
          top: 0
          width: 44px
          height: 44px