.gallery

  .horizontal-divider
    hr 
      max-width: 100%
      width: 100%
      border-bottom: 1px solid #000

  .reversed
    order: 2
    justify-content: center
    display: flex
    align-items: center

  header

    #logo 
      a 
        &:hover
          img:first-of-type
            display: block

          img:last-of-type
            display: none

  &.scrolled
    #logo 
      a 
        &:hover
          img:first-of-type
            display: none
          
          img:last-of-type
            display: block

  #section1
    padding-bottom: 0

    .grid-x
      padding-top: 50px
      padding-bottom: 0

      .copy 
        display: flex
        align-items: center
        position: relative
        color: #fff
        padding-right: 30px
        font-family: 'benton-sans', sans-serif
        font-size: 16px
        font-weight: 300
        line-height: 28px

        p 
          padding-right: 50px

  #section3
    padding-top: 0

    a 
      padding-bottom: 30px
      display: inline-block

  #section3,
  #section5,
  #section6
    padding-bottom: 100px

    h2 
      margin-bottom: 0

  #section3
    padding-bottom: 0

  #section4
    padding-bottom: 0

.gallery
  width: 100%

  .gallery-container
    .gallery-item

      margin-top: 40px
      margin-bottom: 40px

      &:first-child
        text-align: center
        padding-right: 0

        @media (max-width: 1600px)
          text-align: center

        @media (max-width: 640px)
          padding: 0
          text-align: center
      
      &:last-child
        text-align: center
        padding-left: 0

        @media (max-width: 640px)
          padding: 0
      
      .grid-img-left
        display: flex
        justify-content: flex-end

        @media (max-width: 767px)
            justify-content: center

      .grid-img-right
        display: flex
        justify-content: flex-start

        @media (max-width: 767px)
            justify-content: center

      img 
        display: block
        margin: 0 auto
        line-height: 1
