body 
  &:not(.home)
    #section1
      &.hero-image-with-copy
        @media (max-width: 1600px)
          padding-left: 50px
          padding-right: 50px

        @media (max-width: 823px)
          padding-left: 50px
          padding-right: 50px

        @media (max-width: 767px)
          padding-left: 20px
          padding-right: 20px

      .grid-x
        padding-top: 0
        
        .copy 
          h1 
            font-size: 78px
            margin-bottom: 20px
            color: #fff

            @media (max-width: 1024px)
              font-size: 48px
              margin-bottom: 20px

          h2 
            font-size: 78px
            margin-bottom: 20px
            color: #fff

            @media (max-width: 1024px)
              font-size: 48px
              margin-bottom: 20px

          p 
            padding-right: 0
            
            @media (max-width: 1024px)
              font-size: 12px