.mapHolder
  @media (max-width: 640px)
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px
    height: 0

  #map
    height: 800px

    @media (max-width: 1366px)
      height: 500px
      padding: 0 20px

    @media (max-width: 1023px)
      height: 500px
      padding: 0 20px

    @media (max-width: 640px)
      height: 300px
      padding: 0 20px

.mapHolder iframe 
  @media (max-width: 640px)
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%