.meet_the_team

  @media (max-width:1024px)
    padding-left: 50px
    padding-right: 50px

  @media (max-width:767px)
    padding-left: 20px
    padding-right: 20px

  .team-member

    padding-bottom: 150px

    &:last-of-type
      padding-bottom: 0

  .section-content 
    padding: 0 0 0 5%

    @media (max-width:1023px) 
      padding-left: 0

  .even 
    .section-images 
      order: 2

      @media (max-width:768px) 
        order: initial

    .section-content 
      padding-left: 0
      padding-right: 5%

  .section
    padding: 150px 80px 80px 80px
    margin-bottom: 50px

    @media (max-width: 768px)
      padding: 150px 10% 80px 10%

    @media (max-width: 640px)
      padding: 150px 10% 80px 10%

    .team-member
      height: 100%
      align-items: center

    &:first-child
      @media (max-width: 768px)
        padding-top: 300px

      @media (max-width: 640px)
        padding-top: 300px

    sup 
      font-style: normal
      font-size: 24px
      margin-left: 5px

  .section-images

    @media (max-width:768px) 
      margin-bottom: 50px

    .image-container
      width: 100%
      height: 100%
      margin-left: 0

      .img-1,
      .img-2
        width: 100%
        z-index: 0
        top: 50%
        left: 50%

      .img-1
        
  .section-content

      h2 
  

      h4 
        font-size: 14px
        font-style: normal
        font-family: Lato, sans-serif
        text-transform: uppercase
        margin-bottom: 35px
        padding-left: 0

      .copy

        li 

          list-style: disc;
          margin-left: 1.2em
          font-size: 15px
          font-weight: 500
          margin-bottom: 10px
          line-height: 22px

          &:last-child
              list-style: none

          .subtext
              font-size: 14px
              line-height: 30px

  .module
      &.section2
          .copy
              li 
                  &:last-child
                      list-style: disc


        


