#hero-nav
  height: 10vh
  padding-left: 70px

  @include breakpoint (large down) 
    padding-left: 50px

  @include breakpoint (medium down) 
    padding-left: 0

  .nav--hero
    display: flex
  
    li 
      list-style: none
      line-height: 1

      &:first-child
        a 
          padding-left: 0

      &:last-child
        a 
          border-right: 0

      a 
        color: #fff
        font-size: 17px
        font-weight: 400
        padding: 0 20px
        border-right: 1px solid #fff
        line-height: 1

        @include breakpoint (medium down) 
          padding: 0 10px
          font-size: 14px

        @include breakpoint (small only) 
          padding: 0 5px