.horizontal
  display: flex

#responsive-tabs
  width: 100%

  ul
    @media (max-width: 640px)
      margin-left: 0

.r-tabs  
	position: relative

.r-tabs 
  .r-tabs-nav 
    .r-tabs-tab  
      position: relative 
 
.r-tabs 
  .r-tabs-nav 
    .r-tabs-anchor  
      display: inline-block
      padding: 0
      text-decoration: none
      color: #bd9c59
      font-size: 16px

      &:first-child
        padding-left: 0

.r-tabs 
  .r-tabs-nav 
    .r-tabs-state-disabled  
	    opacity: 0.5 
 
.r-tabs 
  .r-tabs-nav 
    .r-tabs-state-active 
      .r-tabs-anchor  
	      color: #000

.r-tabs 
  .r-tabs-panel  
    background-color: white 
    border-bottom: 4px solid white 
    border-bottom-right-radius: 4px 
    border-bottom-left-radius: 4px 

.r-tabs 
  .r-tabs-accordion-title 
    .r-tabs-anchor  
      display: block 
      padding: 10px 
      background-color: #00c5ad 
      color: #fff 
      font-weight: bold 
      text-decoration: none 
      font-size: 14px 
      border-top-right-radius: 4px 
      border-top-left-radius: 4px 
 
.r-tabs 
  .r-tabs-accordion-title.r-tabs-state-active 
    .r-tabs-anchor  
      background-color: #fff 
      color: #00c5ad 
      text-shadow: none 
 
.r-tabs 
  .r-tabs-accordion-title.r-tabs-state-disabled  
	  opacity: 0.5 
 
button  
	display: inline-block 
	margin-top: 10px 
	margin-right: 10px 
	padding: 10px 20px 
	line-height: 100% 
	color: #fff 
	font-size: 14px 
	text-align: center 
	vertical-align: middle 
	font-weight: bold 
	border: 0 
	-webkit-border-radius: 3px 
	-moz-border-radius: 3px 
	border-radius: 3px 
	cursor: pointer 
 
.info  
	display: inline-block 
	margin-top: 10px 
	margin-right: 10px 
	padding: 10px 20px 
	width: 300px 
	line-height: 100% 
	font-size: 14px 
	color: #00c5ad 
	border: 2px solid #00ab94 
	-webkit-border-radius: 3px 
	-moz-border-radius: 3px 
	border-radius: 3px 
	background-color: #fff 
	cursor: pointer 

.r-tabs 
  .r-tabs-accordion-title 
    display: none

.r-tabs 
  .r-tabs-state-default.r-tabs-panel
    display: none

.r-tabs .r-tabs-panel table
  table-layout: fixed

.r-tabs .r-tabs-panel a 
  color: #bd9c59

.r-tabs .r-tabs-panel .alta-button a
  color: #fff

#responsive-tabs
  ul 
    li 
      list-style: none
      margin: 0
      margin-bottom: 1em
      padding-left: 0
      margin-right: 40px
      position: relative

      &.r-tabs-state-active
        &:after
          content: ''
          height: .3em
          width: .3em
          background: #000
          display: block
          position: absolute
          transform: translateX(-50%) rotate(45deg)
          bottom: -10px
          left: 50%
  