.acf-flexible-content .layout.-collapsed > .acf-fc-layout-handle,
.acf-flexible-content .layout > .acf-fc-layout-handle {
  background-color: #0085ba;
  color: #fff !important;
}

.acf-flexible-content .layout .acf-fc-layout-handle {
  color: #fff;
}

.acf-field-5d94c89b46510 [data-name="add-layout"],
.acf-field-5d94e6490b63e [data-name="add-layout"],
.acf-field-5d94c89b46510 .-plus,
.acf-field-5d94c89b46510 .-minus,
.acf-field-5d94e6490b63e .-plus,
.acf-field-5d94e6490b63e .-minus {
  display: none !important
}